.about {
  padding: 8rem 0 5rem;

  @include media-medium {
    padding-top: 12rem;
  }
}

.about__bio-text {
  margin-top: 1rem;
}

.about__bio {
  width: 66vw;
  margin: 0 auto;

  @include media-medium {
    font-size: 1.5rem;
    width: 60vw;
  }
}

.about__title {
  @include title;
}

.jobs {
  margin: 5rem auto 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  width: 66vw;

  @include media-medium {
    width: 60vw;
  }
}

.jobs__job {
  background: lighten($primary-color, 10%);
  padding: 2rem 1.5rem;
  border-bottom: 5px solid $secondary-color;

  @include media-medium {
    padding: 2.5rem 3rem;
  }
}

.jobs__duration {
  color: $secondary-color;
  font-size: 1.8rem;
}

.jobs__company,
.jobs__role,
.jobs__description {
  margin-top: 0.5rem;
}

.jobs__company {
  font-size: 1.4rem;
}

.jobs__role,
.jobs__description {
  @include text;
}
