.contact {
  @include background-image;

  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  .social-icons {
    position: initial;
    margin-top: 2rem;
  }
}

.contact__title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.contact__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  font-size: 1.5rem;

  @include media-medium {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-large {
    grid-template-columns: repeat(3, 1fr);
  }
}
