.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 0 5rem;

  @include media-medium {
    padding-top: 12rem;
  }
}

.contact__title {
  font-size: 3rem;
  margin-bottom: 2rem;

  @include title;

  width: 66vw;
  margin: 0 auto;

  @include media-medium {
    width: 60vw;
  }
}

.contact__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  font-size: 1.5rem;
  width: 66vw;
  margin: 5rem auto 0;

  @include media-medium {
    width: 60vw;
  }

  @include media-extra-large {
    grid-template-columns: repeat(3, 1fr);
  }
}

.contact__link {
  @include text;

  color: $secondary-color;
}
