body {
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

.main {
  height: 100%;
  width: 100%;
}
