.home {
  @include background-image;

  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem 1rem 0;
  text-align: center;

  @include media-medium {
    padding: 4rem 0 0 45vw;
    text-align: left;
    align-items: initial;
  }
}

.home__name {
  line-height: 1;
  font-size: 2.4rem;

  @include media-medium {
    font-size: 4rem;
  }
}

.home__name--last {
  color: $secondary-color;
  font-weight: 700;
}

.home__role {
  margin-top: 1rem;
  font-size: 1.2rem;

  @include media-medium {
    font-size: initial;
  }
}
