@mixin background-image {
  background: linear-gradient(
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.7)
    ),
    url(../images/renan-bg01.jpg) center top;
  background-size: cover;
}

@mixin transition-ease($props: all) {
  transition: 0.5s ease-in-out;
  transition-property: #{$props};
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}

@mixin media-medium {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-large {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin media-extra-large {
  @media screen and (min-width: 1600px) {
    @content;
  }
}
