.projects {
  padding: 8rem 0 5rem;

  @include media-medium {
    padding-top: 12rem;
  }
}

.projects__items {
  width: 66vw;
  margin: 5rem auto 0;

  @include media-medium {
    width: 60vw;
  }
}

.projects__item {
  position: relative;
  font-size: 0;

  @include media-extra-large {
    border-bottom: 5px solid $secondary-color;
    overflow: hidden;
  }

  &:not(:first-child) {
    margin-top: 3rem;
  }

  &::after {
    @include media-extra-large {
      @include transition-ease('top, opacity');

      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      background: $secondary-color;
      opacity: 0;
    }
  }

  @include is-hoverable {
    &:hover {
      &::after {
        top: 0;
        opacity: 0.9;
      }
    }
  }
}

.projects__video--mobile {
  width: 100%;

  @include media-medium {
    display: none;
  }
}

.projects__video--desktop {
  display: none;

  @include media-medium {
    display: initial;
    width: 100%;
  }
}

.projects__content {
  @include transition-ease(opacity);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  justify-content: center;
  color: set-text-color(set-text-color($secondary-color));
  margin-top: 1rem;

  @include media-extra-large {
    color: set-text-color($secondary-color);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    padding: 0 5rem;
    margin-top: initial;

    @include is-hoverable {
      .projects__item:hover & {
        opacity: 1;
      }
    }
  }

  .projects__item:not(:last-child) & {
    padding-bottom: 3rem;
    border-bottom: 2px solid set-text-color($primary-color);

    @include media-extra-large {
      padding-bottom: initial;
      border-bottom: initial;
    }
  }
}

.projects__project-title {
  color: $secondary-color;
  font-size: 1.8rem;

  @include media-extra-large {
    color: set-text-color($secondary-color);
  }
}

.projects__description {
  @include text;

  padding-left: 1.2rem;
  list-style-type: square;

  li:not(:first-child) {
    margin-top: 0.5rem;
  }
}

.projects__buttons {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  @include media-medium {
    flex-direction: row;
    justify-content: space-around;
    gap: initial;
  }
}

.projects__button {
  @include text;
  @include transition-ease(color);

  color: $secondary-color;

  @include media-medium {
    font-size: 1.4rem;
  }

  @include media-extra-large {
    color: set-text-color($secondary-color);
  }

  @include is-hoverable {
    &:hover {
      color: set-text-color(set-text-color($secondary-color));
    }
  }
}
