@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #282828;
  color: #fff;
  height: 100dvh;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
}

.main {
  height: 100%;
  width: 100%;
}

.menu {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

.menu-button {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-button {
    visibility: hidden;
  }
}

.menu-button__burger {
  transition: 0.3s ease-in-out;
  transition-property: transform, background;
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 2px;
  background: #fff;
}
.menu-button__burger::before {
  transition: 0.3s ease-in-out;
  transition-property: transform;
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 2px;
  background: #fff;
}
.menu-button__burger::after {
  transition: 0.3s ease-in-out;
  transition-property: transform, width;
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 2px;
  background: #fff;
}
.menu-button__burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-button__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-button__burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .nav {
    visibility: visible;
  }
}
.nav.open {
  visibility: visible;
}

.menu-nav {
  transition: 0.3s ease-in-out;
  transition-property: all;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  overflow: hidden;
  background: #282828;
  list-style-type: none;
  padding-right: 1rem;
  transform: translateY(-100%);
}
@media screen and (min-width: 768px) {
  .menu-nav {
    display: block;
    transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: right;
  }
}
.menu-nav.open {
  transform: translateY(0);
}

.menu-nav__item {
  transition: 0.3s ease-in-out;
  transition-property: transform;
  transform: translateX(100vw);
}
@media screen and (min-width: 768px) {
  .menu-nav__item {
    display: inline;
    padding-right: 1.5rem;
  }
}
.menu-nav__item.open {
  transform: translateX(0);
}
.menu-nav__item:nth-child(1) {
  transition-delay: 0.1s;
}
.menu-nav__item:nth-child(2) {
  transition-delay: 0.2s;
}
.menu-nav__item:nth-child(3) {
  transition-delay: 0.3s;
}
.menu-nav__item:nth-child(4) {
  transition-delay: 0.4s;
}

.menu-nav__link {
  transition: 0.3s ease-in-out;
  transition-property: color;
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .menu-nav__link {
    font-size: 1.5rem;
  }
}
.menu-nav__link:hover {
  color: #939eeb;
}
.menu-nav__item.active .menu-nav__link {
  color: #939eeb;
}

.footer {
  position: fixed;
  padding: 1rem;
  color: #fff;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}
.footer.footer--rotate {
  align-items: flex-end;
}
@media screen and (min-width: 768px) {
  .footer.footer--rotate {
    align-items: center;
  }
}

.footer__copyright {
  font-size: 1rem;
}
.footer.footer--rotate .footer__copyright {
  transform: rotate(-90deg) translateY(1rem);
  transform-origin: left bottom;
}
@media screen and (min-width: 768px) {
  .footer.footer--rotate .footer__copyright {
    transform: initial;
  }
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  pointer-events: all;
}
.footer.footer--rotate .social-icons {
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer.footer--rotate .social-icons {
    flex-direction: initial;
  }
}

.social-icons__link {
  transition: 0.3s ease-in-out;
  transition-property: all;
}
.social-icons__link:hover {
  color: #939eeb;
}

.home {
  background: linear-gradient(rgba(40, 40, 40, 0.9), rgba(40, 40, 40, 0.7)), url(../images/renan-bg01.jpg) center top;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 4rem;
}

.home__name {
  line-height: 1;
  font-size: 5rem;
  padding: 1rem 0 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #fff;
  width: 100%;
}

.home__name--last {
  color: #939eeb;
  font-weight: 700;
}

.about {
  padding: 8rem 0 5rem;
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 12rem;
  }
}

.about__bio-text {
  margin-top: 3rem;
}

.about__bio {
  width: 66vw;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .about__bio {
    font-size: 1.5rem;
    width: 60vw;
  }
}

.about__title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  color: #939eeb;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 6rem;
  }
}

.jobs {
  margin: 5rem auto 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  width: 66vw;
}
@media screen and (min-width: 768px) {
  .jobs {
    width: 60vw;
  }
}

.jobs__job {
  background: #424242;
  padding: 2rem 1.5rem;
  border-bottom: 5px solid #939eeb;
}
@media screen and (min-width: 768px) {
  .jobs__job {
    padding: 2.5rem 3rem;
  }
}

.jobs__duration {
  color: #939eeb;
  font-size: 1.8rem;
}

.jobs__company,
.jobs__role,
.jobs__description {
  margin-top: 1rem;
}

.jobs__company {
  font-size: 1.4rem;
}

.jobs__role,
.jobs__description {
  font-size: 1.1rem;
}

.projects {
  padding: 8rem 0 5rem;
}
@media screen and (min-width: 768px) {
  .projects {
    padding-top: 12rem;
  }
}

.projects__title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  color: #939eeb;
  width: 66vw;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .projects__title {
    font-size: 6rem;
  }
}
@media screen and (min-width: 768px) {
  .projects__title {
    width: 60vw;
  }
}

.projects__items {
  width: 66vw;
  margin: 5rem auto 0;
}
@media screen and (min-width: 768px) {
  .projects__items {
    width: 60vw;
  }
}

.projects__item {
  position: relative;
  font-size: 0;
}
@media screen and (min-width: 1600px) {
  .projects__item {
    border-bottom: 5px solid #939eeb;
    overflow: hidden;
  }
}
.projects__item:not(:first-child) {
  margin-top: 3rem;
}
@media screen and (min-width: 1600px) {
  .projects__item::after {
    transition: 0.3s ease-in-out;
    transition-property: top, opacity;
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: #939eeb;
    opacity: 0;
  }
}
@media (any-hover: hover) {
  .projects__item:hover::after {
    top: 0;
    opacity: 0.9;
  }
}

.projects__video--mobile {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .projects__video--mobile {
    display: none;
  }
}

.projects__video--desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .projects__video--desktop {
    display: initial;
    width: 100%;
  }
}

.projects__content {
  transition: 0.3s ease-in-out;
  transition-property: opacity;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  justify-content: center;
  color: #fff;
  margin-top: 1rem;
}
@media screen and (min-width: 1600px) {
  .projects__content {
    color: #000;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    padding: 0 5rem;
    margin-top: initial;
  }
}
@media screen and (min-width: 1600px) and (any-hover: hover) {
  .projects__item:hover .projects__content {
    opacity: 1;
  }
}
.projects__item:not(:last-child) .projects__content {
  padding-bottom: 3rem;
  border-bottom: 2px solid #fff;
}
@media screen and (min-width: 1600px) {
  .projects__item:not(:last-child) .projects__content {
    padding-bottom: initial;
    border-bottom: initial;
  }
}

.projects__project-title {
  color: #939eeb;
  font-size: 1.8rem;
}
@media screen and (min-width: 1600px) {
  .projects__project-title {
    color: #000;
  }
}

.projects__description {
  font-size: 1.1rem;
  padding-left: 1.2rem;
  list-style-type: square;
}
.projects__description li:not(:first-child) {
  margin-top: 0.5rem;
}

.projects__buttons {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .projects__buttons {
    flex-direction: row;
    justify-content: space-around;
    gap: initial;
  }
}

.projects__button {
  font-size: 1.1rem;
  transition: 0.3s ease-in-out;
  transition-property: color;
  color: #939eeb;
}
@media screen and (min-width: 768px) {
  .projects__button {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1600px) {
  .projects__button {
    color: #000;
  }
}
@media (any-hover: hover) {
  .projects__button:hover {
    color: #fff;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 0 5rem;
}
@media screen and (min-width: 768px) {
  .contact {
    padding-top: 12rem;
  }
}

.contact__title {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  color: #939eeb;
  width: 66vw;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .contact__title {
    font-size: 6rem;
  }
}
@media screen and (min-width: 768px) {
  .contact__title {
    width: 60vw;
  }
}

.contact__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  font-size: 1.5rem;
  width: 66vw;
  margin: 5rem auto 0;
}
@media screen and (min-width: 768px) {
  .contact__list {
    width: 60vw;
  }
}
@media screen and (min-width: 1600px) {
  .contact__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.contact__link {
  font-size: 1.1rem;
  color: #939eeb;
}/*# sourceMappingURL=main.css.map */