@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #282828;
  color: #fff;
  height: 100vh;
  font-family: "Reddit Sans", sans-serif;
  line-height: 1;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
}

.main {
  height: 100%;
  width: 100%;
}

.footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: #fff;
}

.text-secondary {
  color: #939eeb;
}

.social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

.social-icons__link {
  transition: 0.5s ease-in-out;
  transition-property: all;
  padding: 0.4rem;
}
.social-icons__link:hover {
  color: #939eeb;
}

.menu {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

.menu-button {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-button {
    visibility: hidden;
  }
}

.menu-button__burger {
  transition: 0.5s ease-in-out;
  transition-property: transform, background;
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #fff;
}
.menu-button__burger::before {
  transition: 0.5s ease-in-out;
  transition-property: transform;
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #fff;
}
.menu-button__burger::after {
  transition: 0.5s ease-in-out;
  transition-property: transform, width;
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #fff;
}
.menu-button__burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-button__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-button__burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .nav {
    visibility: visible;
  }
}
.nav.open {
  visibility: visible;
}

.menu-nav {
  transition: 0.5s ease-in-out;
  transition-property: all;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #282828;
  list-style-type: none;
  padding-right: 1rem;
  transform: translateY(-100%);
}
@media screen and (min-width: 768px) {
  .menu-nav {
    display: block;
    transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: right;
  }
}
.menu-nav.open {
  transform: translateY(0);
}

.menu-nav__item {
  transition: 0.5s ease-in-out;
  transition-property: transform;
  transform: translateX(100vw);
}
@media screen and (min-width: 768px) {
  .menu-nav__item {
    display: inline;
    padding-right: 1.5rem;
  }
}
.menu-nav__item.open {
  transform: translateX(0);
}
.menu-nav__item:nth-child(1) {
  transition-delay: 0.25s;
}
.menu-nav__item:nth-child(2) {
  transition-delay: 0.35s;
}
.menu-nav__item:nth-child(3) {
  transition-delay: 0.45s;
}
.menu-nav__item:nth-child(4) {
  transition-delay: 0.55s;
}

.menu-nav__link {
  transition: 0.5s ease-in-out;
  transition-property: color;
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .menu-nav__link {
    font-size: 1.5rem;
  }
}
.menu-nav__link:hover {
  color: #939eeb;
}
.menu-nav__item.active .menu-nav__link {
  color: #939eeb;
}

.home {
  background: linear-gradient(rgba(40, 40, 40, 0.9), rgba(40, 40, 40, 0.7)), url(../images/renan-bg01.jpg) center top;
  background-size: cover;
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
}

.home__name {
  font-size: 5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #fff;
}

.home__name--last {
  color: #939eeb;
  font-weight: 700;
}

.about {
  padding-bottom: 2rem;
}
.about .footer {
  transform: rotate(90deg) translate(-3rem, -5rem);
}

.about__bio-image {
  background: linear-gradient(rgba(40, 40, 40, 0.9), rgba(40, 40, 40, 0.7)), url(../images/renan-bg01.jpg) center top;
  background-size: cover;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.about__bio-text {
  margin-bottom: 2rem;
}

.about__bio {
  width: 80%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about__bio {
    font-size: 1.5rem;
  }
}
.about__bio .text-secondary {
  padding-bottom: 1rem;
}

.jobs {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.jobs__job {
  background: #424242;
  padding: 0.5rem;
  border-bottom: 5px solid #939eeb;
}

.jobs__duration,
.jobs__company {
  margin: 0.5rem 0;
}

.jobs__role {
  margin: 0.3rem 0;
}

.projects {
  padding-bottom: 2rem;
}
.projects .footer {
  transform: rotate(90deg) translate(-3rem, -5rem);
}

.projects__bio-image {
  background: linear-gradient(rgba(40, 40, 40, 0.9), rgba(40, 40, 40, 0.7)), url(../images/renan-bg01.jpg) center top;
  background-size: cover;
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .projects__bio-image {
    height: 40vh;
  }
}
@media screen and (min-width: 1600px) {
  .projects__bio-image {
    height: 50vh;
  }
}
.projects__bio-image .text-secondary {
  font-size: 2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .projects__bio-image .text-secondary {
    font-size: 3rem;
  }
}

.projects__items {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
@media screen and (min-width: 768px) {
  .projects__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .projects__items {
    grid-template-columns: repeat(3, 1fr);
  }
}

.projects__item {
  position: relative;
  border-bottom: 5px solid #939eeb;
  overflow: hidden;
  cursor: pointer;
}
.projects__item::after {
  transition: 0.5s ease-in-out;
  transition-property: top, opacity;
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: #939eeb;
  opacity: 0;
}
.projects__item:hover::after {
  top: 0;
  opacity: 0.9;
}

.projects__image {
  width: 100%;
}

.projects__buttons {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
}

.projects__button {
  transition: 0.5s ease-in-out;
  transition-property: color, opacity;
  opacity: 0;
  color: #000;
}
.projects__button:hover {
  color: #fff;
}
.projects__item:hover .projects__button {
  opacity: 1;
}

.contact {
  background: linear-gradient(rgba(40, 40, 40, 0.9), rgba(40, 40, 40, 0.7)), url(../images/renan-bg01.jpg) center top;
  background-size: cover;
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .social-icons {
  position: initial;
  margin-top: 2rem;
}

.contact__title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.contact__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .contact__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .contact__list {
    grid-template-columns: repeat(3, 1fr);
  }
}/*# sourceMappingURL=main.css.map */